.bottom-nav {
  background-color: #246a04; /* amarelo vibrante */
  border: 2px solid #2d4b2f;
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  gap: 30px; /* Reduz o espaçamento entre os itens */
  width: 80%; /* Define uma largura menor */
  max-width: 500px; /* Limita a largura máxima */
  height: 50px; /* Reduz a altura */
  margin: 20px auto; /* Centraliza horizontalmente e adiciona margem superior/inferior */
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  border: #fefefe 2px solid; /* Borda verde */
}
/* Links do menu */
.bottom-nav a {
  color: #dae0dd;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  border-radius: 5px;
}

.bottom-nav a:hover {
  color: #0b8c13;
  background-color: #db960bda;
}
