.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-button {
  background-color: transparent;
  color: rgb(248, 247, 244);
  border: 2px solid rgb(244, 243, 240);
  padding: 16px 28px;
  border-radius: 5px;
  cursor: pointer;


  transition: background-color 0.3s, color 0.3s;
}


.menu-button:hover {
  background-color: rgb(9, 130, 23);
  color: #003300;
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 110%; /* Coloca o menu ao lado direito do botão */
  background-color: #d4ff00;
  border-radius: 6px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  padding: 15px 8px;
  z-index: 5;
  display: flex;
  flex-direction: column; /* Horizontal */
}

.dropdown-item {
  padding: 15px 5px;
  text-decoration: none;
  color: #003300;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: #aeea00;
  border-radius: 18px;
}
.header {
  color: #1eb85f;

  font-family: Arial, sans-serif;
  position: relative;
  width: 100%; /* Faz o header ocupar toda a largura da tela */
  max-width:1200px; /* Define um limite máximo de largura */
  margin: 0 auto; /* Centraliza o header horizontalmente */
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 1.0rem; /* Aumenta o tamanho do título principal */
  font-weight: bold; /* Deixa o título mais destacado */
  color: #06700b; /* Cor verde para o título */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao texto */
  text-align: center; /* Centraliza o texto */
  margin: 20px 0; /* Adiciona espaçamento ao redor */
  font-family: 'Georgia', serif; /* Fonte elegante */
  border-color: aliceblue;
}

.titulo-header {
  font-size: 2.5rem; /* Define um tamanho menor para o subtítulo */
  font-weight: 400; /* Deixa o subtítulo mais leve */
  color: #ca7e14; /* Cor cinza para o subtítulo */
  text-align: center; /* Centraliza o subtítulo */
  margin-top: 10px; /* Adiciona um pequeno espaçamento superior */
  font-family: 'Georgia', serif; /* Fonte elegante */}

.logo-div {
  flex-shrink: 0;
  margin: 0; /* Remove o espaço à direita */
  padding: 0; /* Remove qualquer margem à esquerda */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Garante que o conteúdo fique alinhado à esquerda */
}
  
  .logo img {
    width: 150px; /* Ajuste para um tamanho menor */
    height: 150px;

  }
  

  
  html, body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0;
  }
