.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-button {
  background-color: transparent;
  color: rgb(248, 247, 244);
  border: 2px solid rgb(244, 243, 240);
  padding: 16px 28px;
  border-radius: 5px;
  cursor: pointer;


  transition: background-color 0.3s, color 0.3s;
}


.menu-button:hover {
  background-color: rgb(9, 130, 23);
  color: #003300;
}

.dropdown-menu {
  list-style: none;

  position: absolute;
  top: 0;
  left: 100%; /* Coloca o menu ao lado direito do botão */
  background-color: #d4ff00;
  border-radius: 6px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
  padding: 35px 14px;
  z-index: 5;
  display: none;
  flex-direction: column; /* Horizontal */
}

.dropdown-item {
  padding: 10px 15px; /* Ajusta o espaçamento interno (dentro do item) */
  margin: 5px 0; /* Ajusta o espaçamento externo (entre os itens) */
  text-decoration: none;
  color: #003300;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-item:hover {
  background-color: rgba(9, 130, 23, 0.5); /* Cor verde com opacidade reduzida */
  color: #003300; /* Mantém a cor do texto */
  transition: background-color 0.2s ease-in-out



}
.menu-item:hover .dropdown-menu {
  display: block; /* Mostra o menu ao passar o mouse */
}
.header {
  color: #1eb85f;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%; /* Faz o header ocupar toda a largura da tela */
  max-width:1200px; /* Define um limite máximo de largura */
  margin: 0 auto; /* Centraliza o header horizontalmente */
  position: relative;
  z-index: 10;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-size: 1.0rem; /* Aumenta o tamanho do título principal */
  font-weight: bold; /* Deixa o título mais destacado */
  color: #06700b; /* Cor verde para o título */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao texto */
  text-align: center; /* Centraliza o texto */
  margin: 20px 0; /* Adiciona espaçamento ao redor */
  font-family: 'Georgia', serif; /* Fonte elegante */
  border-color: aliceblue;
}

.titulo-header {
  font-size: 2.5rem; /* Define um tamanho menor para o subtítulo */
  font-weight: 400; /* Deixa o subtítulo mais leve */
  color: #ca7e14; /* Cor cinza para o subtítulo */
  text-align: center; /* Centraliza o subtítulo */
  margin-top: 10px; /* Adiciona um pequeno espaçamento superior */
  font-family: 'Georgia', serif; /* Fonte elegante */}

.logo-div {
  flex-shrink: 0;
  margin: 0; /* Remove o espaço à direita */
  padding: 0; /* Remove qualquer margem à esquerda */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Garante que o conteúdo fique alinhado à esquerda */
}
  
  .logo img {
    width: 150px; /* Ajuste para um tamanho menor */
    height: 150px;

  }
  

  
  html, body {
  
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa toda a altura da tela */
    margin: 0;
  }

/* Media query para telas menores */
@media (max-width: 768px) {

  .header {
    padding: 0rem; /* Adiciona padding interno */
    margin: 0; /* Remove margens externas */
    margin-top: 0px;
  }

  .header-top {
    flex-direction: column; /* Empilha logo, título e menu */
    align-items: center;
  }

  .titulo-header {
    font-size: 1.2rem; /* Reduz o tamanho do título */
    margin-top: 0px;
  }

  .logo img {
    width: 80px; /* Reduz o tamanho do logo */
    height: auto;
  }

  .menu-container {
    margin-top: 10px;
  }
}