
/* ===================== */
/* CONTEÚDO PRINCIPAL */
/* ===================== */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centraliza horizontalmente */
  justify-content: flex-start; /* Centraliza verticalmente */ 
  width: 100%; /* Faz o contêiner ocupar toda a largura */
  height: 100%; /* Faz o contêiner ocupar toda a altura disponível */
  padding: 0px; /* Espaçamento interno */
  font-family: 'Arial', sans-serif;
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
  margin: 0 auto; /* Centraliza horizontalmente */
  max-width: 1200px; /* Define o mesmo limite máximo de largura do header */
  text-align: center; /* Centraliza o conteúdo interno */
  margin-bottom: 10px; /* Reduz a margem inferior */

}


/* Ícones */
.icons-container {
  width: 100%;
  max-width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
  margin: 10px auto;
  height: auto;
  display: flex;
  flex-wrap: wrap; /* Permite que os ícones quebrem linha se necessário */
  justify-content: center; /* Distribui os ícones igualmente no contêiner */
  align-items: center;
  gap:120px; /* Ajusta o espaçamento entre os itens */
  padding: 10px; /* Reduz o padding para caber melhor */
}

/* Cada ícone */
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px; /* Ajusta a largura para caber melhor */
  transform: scale(1.2); /* Mantém o tamanho aumentado */
}

/* Imagens dos ícones */
.icon-item img {
  width: 100%; /* Ajusta a largura da imagem ao contêiner */
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-item img:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

/* Título dos ícones */
.icon-item p {
  font-size: 18px; /* Reduz o tamanho da fonte para caber melhor */
  font-weight: bold;
  color: #ffffff;

  margin: 0;
}
/* Media query para telas menores */
@media (max-width: 768px) {
  .icons-container {
    margin-top: -240px; /* Ajusta a margem superior em telas menores */
    flex-wrap: nowrap; /* Evita quebra de linha */
    justify-content: center; /* Alinha os ícones à esquerda */
    overflow-x: auto; /* Permite rolagem horizontal */
    gap: 55px; /* Reduz o espaçamento entre os ícones */
  }

  .icon-item {
    width: 50px; /* Reduz o tamanho dos ícones */
  }

  .icon-item img {
    max-width: 100px; /* Reduz o tamanho da imagem */
  }

  .icon-item p {
    font-size: 0.8rem; /* Ajusta o tamanho do texto */
  }
}